<div class="stars"></div>
<div class="app-container"> <!-- veamos si queda bien aca --> 
  <div class="search">
    <input 
      type="text" 
      [(ngModel)]="query" 
      (ngModelChange)="onQueryChange($event)" 
      placeholder="Buscar personaje..." />

    <button (click)="clearSearch()" [disabled]="loading || !query">
      Limpiar
    </button>
  </div>
</div>

<!-- Mensajes de error -->
<div *ngIf="error" class="error">
  {{ error }}
</div>

<!-- Indicador de carga -->
<div *ngIf="loading" class="loading">
  Cargando personajes...
</div>

<!-- Lista de personajes -->
<div class="characters">
  <div *ngFor="let c of characters" class="character-card">
    <img [src]="c.image" [alt]="c.name" />
    <h3>{{ c.name }}</h3>
    <p>{{ c.species }} - {{ c.status }}</p>
    <p>Origen: {{ c.origin?.name }}</p>
    <p>Ubicación: {{ c.location?.name }}</p>
  </div>
</div>

<!-- Paginación -->
<div class="pagination">
  <button 
    (click)="prev()" 
    [disabled]="page <= 1 || loading">
    ⬅️ Anterior
  </button>

  <span>Página {{ page }} de {{ totalPages }}</span>

  <button 
    (click)="next()" 
    [disabled]="page >= totalPages || loading">
    Siguiente ➡️
  </button>
</div>
